<!DOCTYPE html>
<html>
<head>
    <title>@ViewBag.Title</title>
    <link href="~/Scripts/styles/github.css" rel="stylesheet" />
    <script src="~/Scripts/highlight.pack.js"></script>
    <script>
        hljs.initHighlightingOnLoad();
    </script>
</head>
<body>
    @Html.X().ResourceManager()
    
    <!-- body -->
    @RenderBody()
    <!-- /body -->
                
    
@(Html.X().Panel()
    .ID("WindowSource")
    .Title("Source Code")
    .Height(300)
    .Width(600)
    .AutoScroll(true)
    .Config("contentEl", "myCode") 
    .Draggable(true)
    .Closable(true)
    .Resizable(true)
    .StyleSpec("opacity: 0.6")
    .Show()) 
    

<div id="myCode">
<pre><code>@ViewBag.Code</code></pre>        
</div> 

</body>
</html>