<!DOCTYPE html>
<html>
<head>
    <title>@ViewBag.Title</title>
    @Styles.Render("~/Content/styles")
</head>
<body>
    @Html.X().ResourceManager()
    
    <!-- body -->
    @RenderBody()
    <!-- /body -->     
    
@(Html.X().Panel()
    .ID("WindowSource")
    .Title("Source Code")
    .Height(300)
    .Width(600)
    .AutoScroll(true)
    .Config("contentEl", "myCode") 
    .Draggable(true)
    .Closable(true)
    .Resizable(true)
    .StyleSpec("opacity: 0.6")) 

<div id="myCode">
<pre><code>@ViewBag.Code</code></pre>        
</div>   
       
    @Scripts.Render("~/Scripts/scripts")
    @RenderSection("scripts", required: false)

    <script>
        hljs.initHighlightingOnLoad();
    </script>

</body>
</html>